<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title> 
 </head>   
<body>
    
      {{> header}}
 <!--  <h1> {{pagetTitle}} </h1> -->
    <p> Some text regarding help page </p> 



    {{> footer}}
</body>
</html>